.wrap {
  display: flex;
  flex-direction: column;

  border-right: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayOfTheMonth {
  margin-top: 8px;

  font-size: 11px;
  font-weight: 500;
  line-height: 20px;

  color: var(--secondary);
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #000;
  line-height: 16px;
}

.current {
  border-radius: 50%;

  color: #fff;
  background-color: #1a73e8;
}
