.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;

  width: 30%;
  border-radius: 8px;

  background-color: #fff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.2);

  animation-name: modal;
  animation-duration: 250ms;
}

.wrapSvg {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 30px;
}

.btn {
  background: none;
  border: none;

  cursor: pointer;
}

.svg {
  width: 24px;
  height: 24px;
}

.date {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

.inpt {
  box-sizing: border-box;
  
  margin-bottom: 30px;
  padding: 10px;

  width: 100%;
  border: none;

  border-bottom: 1px solid var(--secondary);
  color: var(--main);
}

.wrapLabels {
  display: flex;
}

.label {
  display: block;
  
  margin-right: 5px;
  text-align: center;
  
  width: 24px;
  height: 24px;
  border-radius: 50%;
  
  font-size: 15px;

  color: white;
}

.color:not(:last-child) {
  margin-right: 5px;
}

.btnSave {
  padding: 7px 17px;
  margin-top: 30px;

  border-radius: 8px;

  border: 1px solid var(--secondary);
  color: var(--main);
  background: none;

  &:hover,
  &:focus {
    background-color: var(--btn-hv);
  }
}

@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

