html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// base

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

/* root */
:root {
  --main: #3c4043;
  --secondary: #dadce0;
  --accent: blue;
  --btn-hv: rgba(44%, 46%, 48%, 0.05);
  --day-of-the-week: #70757a;
}

/* class colors */
.indigo {
  background-color: rgba(76, 0, 130, 0.5);
}

.grey {
  background-color: rgba(128, 128, 128, 0.5);
}

.green {
  background-color: rgba(0, 128, 0, 0.5);
}

.blue {
  background-color: rgba(0, 0, 255, 0.5);
}

.red {
  background-color: rgba(255, 0, 0, 0.5);
}

.purple {
  background-color: rgba(128, 0, 128, 0.5);
}
